h1{
    color:blue;
}

.square{
    height: 140px;
    width: 140px;
    border: 2px solid black;
    /* background-color: pink; */
}


.flex-container{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.flex-wrap{
    flex-wrap: wrap;
    width: 435px;
}
#game-heading{
    flex-direction: column;
}
#main-message{
    
}
